/*
 *
 *  GENERAL
 *
 */

* {
 scroll-behavior: smooth;
 box-sizing: border-box;
}

html {
 overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  color: transparent;
}

body {
  margin: 0;
  min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height: 1.7;
	background-color: #fafafa;
}

a {
  color: #fff;
}

a:hover {
 text-decoration: none;
 color: #fff;
}

main a {
  color: #cc580c;
}

main a:hover {
  color: #f26f18;
}

h1, h2, h3, h4, h5, h6 {
	color:#333;
	line-height:1.4;
	font-weight:700;
}

img {
  height: auto;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
}

/*
 *
 *  BANNER TAG
 *
 */

.banner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 52px;
  left: 0;
  height: 80px;
  font-size: 36px;
  color: #f1f1f1;
  background-color: #A3C819;
  z-index: 13;
  opacity: 0.9;
  padding: 0 24px 0 8px;
  transition: all 0.3s;
}

/*
 *
 *  HEADER
 *
 */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-parallax {
  flex-grow: 1;
  background: #D6C9B6;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.3);
}

.header-content {
  padding-top: 72px;
}

.header-title {
	font-family: 'Playball', cursive;
	font-size: 10em;
	line-height: 1.0;
	color: #fff;
  transition: font-size 0.3s;
}

.header-title.sub-title {
	font-size:8em;
}

/*
 *
 *  MENU NAVBAR
 *
 */

.navbar {
  min-height: 80px;
  background: #111;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s;
}

.navbar a {
  padding: 0 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff !important;
  /* display:inline-block; */
}

.navbar-brand {
  display: none;
}

.navbar a:not(:last-child) {
  margin-right: 8px;
}

.navbar.fixed-top {
  background-color: #333;
}

.navbar.fixed-top .navbar-collapse {
  height: 52px;
}

.navbar.fixed-top ul {
  height: 100%;
}

.navbar.fixed-top .nav-item {
  vertical-align: middle;
}

.navbar.fixed-top .nav-item a {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid #333; */
}

.navbar.fixed-top li:hover {
  background-color: #cc580c;
}

.navbar.fixed-top .active {
  background-color: #cc580c;
}

/*
 *
 *  MAIN
 *
 */

main p {
  color: #555555;
}

section {
  padding-top: 80px;
  margin-top: -80px;
  margin-bottom: 72px;
}

section:first-child {
  padding-top: 144px;
  margin-top: -80px;
  margin-bottom: 72px;
}

.section-heading {
  margin-bottom: 36px;
}

.section-heading h2 {
  margin: 0;
  padding: 6px 0;
  font-family:'Playball',cursive;
	font-weight:700;
	color:#333;
}

.section-heading h2::first-letter {
	color: #cc580c;
}

/*
 *
 *  PAPER STYLES BEHIND PHOTOS
 *
 */

.papers,.papers:before,.papers:after {
  background-color:#fff;
  border:1px solid #ccc;
  box-shadow:inset 0 0 30px rgba(0,0,0,0.1),1px 1px 3px rgba(0,0,0,0.2);
}

.papers {
  position:relative;
  width:90%;
  padding:2em;
  margin:0px auto;
  margin-top:40px;
  font-size:12px;
}

.papers:before,.papers:after {
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  -webkit-transform:rotateZ(2.5deg);
  -o-transform:rotate(2.5deg);
  transform:rotateZ(2.5deg);
  z-index:-1;
}

.papers:after {
  -webkit-transform:rotateZ(-2.5deg);
  -o-transform:rotate(-2.5deg);
  transform:rotateZ(-2.5deg);
}

.papers h1 {
  font-size:1.8em;
  font-weight:normal;
  text-align:center;
  padding:0.2em 0;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:2px solid #ddd;
}

.papers p {
  text-align:left;
  margin:1.5em 0;
}

.papers img {
  max-width:100%;
  margin-bottom: 5px;
}

/*
 *
 *  PRODUCTS & ORDER SECTION
 *
 */

#orderForm input[type="text"],input[type="number"] {
  font-size: 16px;
  touch-action: manipulation;
}

.quantity-add, .quantity-remove {
  touch-action: manipulation;
}

#orderDetails {
  display: none;
}

#contactDetails {
  display: none;
}

.orderButton {
  margin: 24px 0;
  width: 240px;
  height: 64px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #eb6a15;
  color: #fff;
  transition: background-color 0.2s;
}

.orderButton:hover {
  background-color: #cc580c;
}

.product-grid {
  margin: 24px 0;
}

.product-grid .row {
  margin: 12px 0;
}

.product-type {
  font-size: 32px;
}

.product-card {
  height: 100%;
  min-height: 240px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s;
  overflow: hidden;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.product-card-img-container {
  background-color: #333;
  height: 240px;
  overflow: hidden;
}

.product-card img {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  height: 240px;
}

.product-card .product-content {
  padding: 12px;
  min-height: 160px;
  color: #333;
}

.product-price {
  display: none;
}

/*
 *
 *  CONTACT
 *
 */

.location-link a {
  color: inherit;
}

/*
 *
 *  FOOTER
 *
 */

footer {
  padding-bottom: 30px;
  background:#cc580c;
  position:relative;
  text-transform: uppercase;
}

footer span {
	color:#fff;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}

footer a:hover {
	font-weight: bold;
}

.gototop {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #fff;
	position: relative;
  top: -30px;
	border: 1px solid #cc580c;
	border-radius:50%;
}

.gototop i {
	color:#cc580c;
  padding-top: 11px;
}

.gototop:hover {
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.3);
}

.footer-mobile-util {
  display: none;
}

/*
 *
 *  UTILITIES
 *
 */

.divider-line {
  width: 100%;
	margin: 0px auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}


/*
 *
 *  MEDIA QUERIES
 *
 */

/* MEDIUM 768 px */
@media (max-width: 767px) {
  .banner {
  	font-size: 24px;
  }

  .navbar-brand {
    display: block;
  }

  .header-title {
  	font-size: 8em;
  }

  .header-title.sub-title {
  	font-size: 6.4em;
  }

  .map-container {
    margin-bottom: 48px;
  }
}

/* SMALL 576px */
@media (max-width: 575px) {
  .background-parallax {
    background-attachment: scroll;  
  }

  .header-title {
  	font-size: 6em;
  }

  .header-title.sub-title {
  	font-size: 4.6em;
  }

  section:not(#products) {
    padding-left: 24px;
    padding-right: 24px;
  }

  footer span {
    font-size: 12px;
  }

  .footer-mobile-util {
    display: block;
  }

  .footer-desktop-util {
    display: none;
  }
}

/* EXTRA SMALL 400px */
@media (max-width: 400px) {
  .banner {
    height: 52px;
  	font-size: 16px;
  }

  .header-title {
  	font-size: 4em;
  }

  .header-title.sub-title {
  	font-size: 3.2em;
  }
}



/*
 *
 *  OLD
 *
 */

 /*---------------------------------------------------- 	Restaurant Menu------------------------------------------------------*/
 .restmenuwrap {
 	box-shadow:inset 0 0 0 16px #fff,inset 0 0 0 17px #eee,inset 0 0 0 18px #fff,inset 0 0 0 19px #eee,inset 0 0 0 20px #fff,inset 0 0 0 21px #eee,0 4px 20px rgba(0,0,0,0.1);
 	-webkit-transform:translateZ(0px);
 	transform:translateZ(0px);
 	opacity:1;
 	pointer-events:auto;
 }
 .restmenuwrap h5 {
 	margin:0;
 	font-size:14px;
 }
 .restmenuwrap .rm-thumb {
 	width:100px;
 	height:100px;
 	background-repeat:no-repeat;
 	background-position:center center;
 	float:left;
 	margin:0 20px 0 0;
 	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.2),1px 1px 1px rgba(255,255,255,0.1);
 	border-radius:50%;
 }
 .restmenuwrap {
 	font-size:12px;
 	padding:40px 40px 20px 40px;
 }
 .restitem {
 	margin-bottom:40px;
 }
 .restitem p {
 	margin-bottom:0px;
 }
 .restmenuwrap h3.maincat {
 	margin:0 0 20px 0;
 	font-size:19px;
 	padding-bottom:10px;
 	color:#cc580c;
 	border-bottom: 4px double #eee;
 }
 /*---------------------------------------------------- 	Gallery Events------------------------------------------------------*/
 /* General style */
 .grid-gallery ul {
 	list-style:none;
 	margin:0;
 	padding:0;
 }
 .grid-gallery figure {
 	margin:0;
 }
 .grid-gallery figure img {
 	display:block;
 	width:100%;
 }
 .grid-gallery figcaption h3 {
 	margin:0;
 	padding:0 0px 0;
 	color:#fff;
 	font-size:17px;
 	font-weight:300;
 }
 .grid-gallery figcaption p {
 	margin:0;
 	font-size: 12px;
 }
 /* Grid style */
 .grid-wrap {
 		margin:0 auto;
 }
 .grid {
 	margin:0 auto;
 }
 .grid li {
 	width:25%;
 	float:left;
 	cursor:pointer;
 }
 .grid figure {
 	padding:15px;
 	-webkit-transition:opacity 0.5s;
 	transition:opacity 0.5s;
 }
 .grid li:hover figure {
 	opacity:0.4;
 }
 .grid figcaption {
 	background:#333;
 	padding: 25px;
 }
 /* Slideshow style */
 .slideshow {
 	position:fixed;
 	background:rgba(0,0,0,0.7);
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
 	z-index:500;
 	opacity:0;
 	visibility:hidden;
 	overflow:hidden;
 	-webkit-perspective:1000px;
 	perspective:1000px;
 	-webkit-transition:opacity 0.5s,visibility 0s 0.5s;
 	transition:opacity 0.5s,visibility 0s 0.5s;
 }
 .slideshow-open .slideshow {
 	opacity:1;
 	visibility:visible;
 	-webkit-transition:opacity 0.5s;
 	transition:opacity 0.5s;
 }
 .slideshow ul {
 	width:100%;
 	height:100%;
 	-webkit-transform-style:preserve-3d;
 	transform-style:preserve-3d;
 	-webkit-transform:translate3d(0,0,150px);
 	transform:translate3d(0,0,150px);
 	-webkit-transition:-webkit-transform 0.5s;
 	transition:transform 0.5s;
 }
 .slideshow ul.animatable li {
 	-webkit-transition:-webkit-transform 0.5s;
 	transition:transform 0.5s;
 }
 .slideshow-open .slideshow ul {
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0);
 }
 .slideshow li {
 	width:70%;
 	height:75%;
 	position:absolute;
 	top:50%;
 	left:50%;
 	margin:-20% 0 0 -35%;
 	visibility:hidden;
 }
 .slideshow li.show {
 	visibility:visible;
 }
 .slideshow li:after {
 	content:'';
 	position:absolute;
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
 	background:rgba(255,255,255,0.8);
 	-webkit-transition:opacity 0.3s;
 	transition:opacity 0.3s;
 }
 .slideshow li.current:after {
 	visibility:hidden;
 	opacity:0;
 	-webkit-transition:opacity 0.3s,visibility 0s 0.3s;
 	transition:opacity 0.3s,visibility 0s 0.3s;
 }
 .slideshow figure {
 	width:100%;
 	background:#fff;
 	border:5px solid #fff;
 	overflow:hidden;
 	border-radius: 10px;
 }
 .slideshow figcaption {
 	padding-bottom:20px;
 }
 .slideshow figcaption h3 {
 	font-weight:300;
 	font-size:200%;
 	color: #333;
 }
 /* Navigation */
 .slideshow nav span {
 	position:fixed;
 	z-index:1000;
 	color:#fff;
 	text-align:center;
 	padding:2%;
 	cursor:pointer;
 	font-size:2.2em;
 	background:rgba(0,0,0,0.1);
 }
 .slideshow nav span.nav-prev,.slideshow nav span.nav-next {
 	top:50%;
 	-webkit-transform:translateY(-50%);
 	transform:translateY(-50%);
 }
 .slideshow nav span.nav-next {
 	right:0;
 }
 .slideshow nav span.nav-close {
 	top:75px;
 	right:0px;
 	padding:10px 25px;
 	color:#999;
 }
 .icon:before,.icon:after {
 	font-family:'fontawesome';
 	speak:none;
 	font-style:normal;
 	font-weight:normal;
 	font-variant:normal;
 	text-transform:none;
 	line-height:1;
 	-webkit-font-smoothing:antialiased;
 	-moz-osx-font-smoothing:grayscale;
 }
 span.nav-prev:before {
 	content:"\f104";
 }
 span.nav-next:before {
 	content:"\f105";
 }
 span.nav-close:before {
 	content: "\f00d";
 }
 /* Info on arrow key navigation */
 .info-keys {
 	position:fixed;
 	top:10px;
 	left:10px;
 	width:60px;
 	font-size:8px;
 	padding-top:20px;
 	text-transform:uppercase;
 	color:#fff;
 	letter-spacing:1px;
 	text-align:center;
 }
 .info-keys:before,.info-keys:after {
 	position:absolute;
 	top:0;
 	width:16px;
 	height:16px;
 	border:1px solid #fff;
 	text-align:center;
 	line-height:14px;
 	font-size:12px;
 }
 .info-keys:before {
 	left:10px;
 	content:"\e603";
 }
 .info-keys:after {
 	right:10px;
 	content: "\e604";
 }
 /* Example media queries (reduce number of columns and change slideshow layout) */
 @media screen and (max-width:60em) {
 	/* responsive columns;see "Element sizing" on http://masonry.desandro.com/options.html */
 	.grid li {
 			width:33.3%;
 	}
 	.slideshow li {
 			width:100%;
 			height:100%;
 			top:0;
 			left:0;
 			margin:0;
 	}
 	.slideshow li figure img {
 			width:auto;
 			margin:0 auto;
 			max-width:100%;
 	}
 	.slideshow nav span,.slideshow nav span.nav-close {
 			font-size:1.8em;
 			padding:0.3em;
 	}
 	.info-keys {
 			display:none;
 	}
 }
 @media screen and (max-width:35em) {
 	.grid li {
 			width:50%;
 	}
 }
 @media screen and (max-width:24em) {
 	.grid li {
 			width: 100%;
 	}
 }
